@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/Helvetica.eot');
  src: url('/src/assets/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
    url('/src/assets/fonts/Helvetica.woff2') format('woff2'),
    url('/src/assets/fonts/Helvetica.woff') format('woff'),
    url('/src/assets/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/Helvetica-Light.eot');
  src: url('/src/assets/fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
    url('/src/assets/fonts/Helvetica-Light.woff2') format('woff2'),
    url('/src/assets/fonts/Helvetica-Light.woff') format('woff'),
    url('/src/assets/fonts/Helvetica-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/Helvetica-BoldOblique.eot');
  src: url('/src/assets/fonts/Helvetica-BoldOblique.eot?#iefix') format('embedded-opentype'),
    url('/src/assets/fonts/Helvetica-BoldOblique.woff2') format('woff2'),
    url('/src/assets/fonts/Helvetica-BoldOblique.woff') format('woff'),
    url('/src/assets/fonts/Helvetica-BoldOblique.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/Helvetica-Oblique.eot');
  src: url('/src/assets/fonts/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
    url('/src/assets/fonts/Helvetica-Oblique.woff2') format('woff2'),
    url('/src/assets/fonts/Helvetica-Oblique.woff') format('woff'),
    url('/src/assets/fonts/Helvetica-Oblique.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/src/assets/fonts/Helvetica-Bold.eot');
  src: url('/src/assets/fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
    url('/src/assets/fonts/Helvetica-Bold.woff2') format('woff2'),
    url('/src/assets/fonts/Helvetica-Bold.woff') format('woff'),
    url('/src/assets/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
